<% layout('layouts/boilerplate.ejs') %>
<%- include('../partials/navbar.ejs') %>

<%-include('../partials/flash.ejs') %>
<div class="row">
    <% products.forEach((product) => { %>
        <div class="col-lg-4">
            <div class="card mx-auto mt-5 shadow p-2" style="width: 18rem;">
                <img src="<%= product.img %>" class="card-img-top border">
                <span class="badge rounded-pill bg-light text-dark w-25 position-absolute translate-middle-y" style="top:3%;left:5%"><%=product.avgRating%>  &star; | <%=product.reviews.length%></span>
                
                <div class="card-body">
                <h4>₹ <%= product.price %></h4>
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text"><%= product.desc %></p>
                  <%if(product.reviews.length > 0){%>
                      <p class="text-muted"><%= product.reviews.length %> reviews</p> 
                   
                  <%}else{%>
                    <p class="text-muted">No reviews yet</p>
                  <%}%>
                 
                  <a href="/products/<%= product._id %>" class="btn btn-primary w-100">View Now</a>
                </div>
              </div>
        </div>

    <% }) %>
</div>

